body{
  background-color: rgb(238, 235, 235);
}
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Para que las tarjetas se ajusten bien si la pantalla es pequeña */
  margin: 20px;
  padding: 20px;
  gap: 20px; /* Espacio entre tarjetas */
}

/* Estilos para la gráfica */
.chart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Para que las tarjetas se ajusten bien si la pantalla es pequeña */
  margin: 20px;
  padding: 20px;
  gap: 20px; 
}

/* Estilo general para el Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content {
  margin-left: 250px; /* Asegura que no se sobreponga el sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column;
}
