
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.login-body {
  background: #dfe9f5;
}

.login-wrapper {
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.login-wrapper h1 {
  font-size: 2rem;
  color: #07001f;
}

.login-wrapper p {
  margin-bottom: 1.7rem;
}

.login-wrapper form input {
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.login-recover {
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}

.login-recover a {
  text-decoration: none;
  color: #07001f;
}

.login-button {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: #8b5cf6;
  color: #fff;
  cursor: pointer;
}

.login-button:hover {
  background: #8b5cf6
}

.login-or {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

.login-icons i {
  color: #07001f;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}

.login-icons i:hover {
  color: #fff !important;
  background: #07001f;
  transition: 1s;
}

.login-icons i:first-child {
  color: green;
}

.login-icons i:last-child {
  color: blue;
}

.login-not-member {
  font-size: 0.8rem;
  margin-top: 1.4rem;
}

.login-not-member a {
  color: #8b5cf6;
  text-decoration: none;
}

.login-not-member a:hover {
  text-decoration: underline;
}
